= form_tag root_path, :method => :get do
  = select_half_hours 'given_show_time'
  = submit_tag 'filter'

- @theaters.each do |t|
  .theater
    .name= t.name
    - t.movies.each do |m|
      .movie
        .title= m.title
        .tagline= m.tagline
        - Showtime.where(:movie_id => m, :theater_id => t).order('playing_at ASC').each do |s|
          .showtime= link_to s.playing_at.strftime("%I:%M %p"), showtime_path(s)
