%h1= @showtime.movie.title

%h2
  = simple_time_format @showtime.playing_at.localtime
  @
  = @showtime.theater.name

.tickets

  - unless @cheaped_out
    regular tickets:
  - else
    cheap tickets:

  = @tickets_purchased

.total
  total:
  = number_to_currency @total

.instructions
  This is your receipt, please print.

%hr

= link_to 'back to showtimes', root_path
